<div>
    <div>
        <div>
            <div>
                <form action="/publication/create" method="post">
                <div>
                    <label for="">title</label>
                <input type="text" name="title" placeholder="title" required class="input_title">
                </div>
                <div>
                    <label for="">img</label>
                <input type="text" name="img"placeholder="url de img" required class="input_img">
                </div>
                <div>
                    <label for="">description</label>
                <input type="text" name="description"placeholder="description" required class="input_description">
                </div>
                <div>
                    <label for="">price</label>
                <input type="text" name="price"placeholder="price" required class="input_price">
                </div>
                <div>
                    <label for="">ubication</label>
                <input type="text" name="ubication" placeholder="ubication" required class="input_ubication">
                </div>
                <div>
                    <button>send</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>