<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Welcome {{user.name}} {{user.lastname}}</h3>
                    <h4>{{user.email}}</h4>
                    <a href="/publication/myshopping" class="btn btn-primary m-4">review your shopping</a>
                </div>
            </div>
        </div>
    </div>
</div>