body{
    margin: 0;
    
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }




  .lup {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid #fff;
    padding: 5px;
    box-shadow: 0 0 15px #0f0;
}

.search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: rgb(1, 88, 12);
    transition: all 1s;
    text-align: center;
}

input {
  width: 100px;
  height: 30px;
}

a {
  text-decoration: none;
}

.contain {
  width: 400px;
  height: 300px;
  font-size: 20px;
  border: 8px solid #0F3460;
  padding: 5%;
  margin-top: 5%;
}

.email{
  width: 160px;
}

*{
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}


.title {
  width: 800px;
  height: 200px;
  margin-left: 18%;
  background-color: #533483;
  border: 10px solid #16213E;
  font-size: 100px;
  border-radius: 20%;
  text-align: center;
  color: #fff;
  padding: 5px;
  margin-top: 1%;
}

.slogan {
  width: 400px;
  height: 200px;
  font-size: 40px;
  background: #16213E;
  border: 8px solid #0F3460;
  text-align: center;
  padding: 5%;
  color: #fff;
  margin-left: 28%;
  margin-top: 5%;
}

.father {
  display: grid
}

button {
  width: 120px;
  height: 60px;
  color: #fff;
  background-color:#533483;
  border: 4px solid #0F3460;
  text-align: center;
  font-size: 20px;
}

button:hover{
  background: #E94560;
  cursor: pointer;
}

img {
  width: 300px;
  height: 200px;
  margin: 10px;
}

.img {
  border: 2px solid #0F3460;
  margin: 10px;
}

.input_description {
  width: 400px;
  height: 200px;
}