<div class="title">
    <h2>Welcome</h2>
       </div>
    <div>
        <div>
            <div>
                <div class="father">
                    <div class="slogan">
                        <h6>All in a only site</h6>
                        <div>
                           <form action="/publication">
                                <button class="link">Article</button>
                            </form>
                        </div>
                    </div>
                </div>
                    <div class="img">
                        <img src="/img/principal.jpg" alt="vv">
                    </div>
                    <div>
                        <img src="/img/primary1.jpg" alt="">
                    </div>
                    <div>
                        <img src="/img/primary2.jpg" alt="">
                    </div>
                    <div>
                        <img src="/img/primary3.jpg" alt="">
                    </div>
                    <div>
                        <img src="" alt="">
                    </div>
                </div>
                <div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div>
                        <img src="" alt="">
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
